*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    background:url(https://images.unsplash.com/photo-1505526484636-f0a465cf6d19?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cddf9a77dd105083a255db9c99db753a&auto=format&fit=crop&w=1900&q=80);
    font-family: arial;
}
.container{
    min-width: 700px;
    min-height: 350px;
    border-radius: 20px;
    position: relative;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
  box-shadow:10px 10px 60px #000,
             -10px -10px 60px #000;
}
.side{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-right: 20px 50px;
    color: #fff;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 20px;
}
.content{
    transform: translateZ(70px) scale(0.8);
    line-height: 1.5em;
}
.content h1{
    position: relative;
    font-size: 20px;
    font-family: arial;
}
.front{
    z-index: 2;
    background: url(https://images.unsplash.com/photo-1474291102916-622af5ff18bb?ixlib=rb-0.3.5&s=47d38ebcce41c8441068eaccbebb01a8&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.front h1{
    color: #000;
    font-size: 40px;
}
.back{
    background-color: #333;
    transform: rotateY(180deg);
    z-index: 0;
    padding-top: 10px;
    background-image: url(https://st3.depositphotos.com/9768480/17103/v/600/depositphotos_171037556-stock-video-bokeh-circles-of-light-on.jpg);
    background-size: cover;
}
.container:hover{
    transform: rotateY(-180deg);
}
.back h1{
    margin: 0;
    text-shadow: 3px 4px 10px #000;
}
form label, form input{
    display: block;
}
form input, form textarea{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px;
    width: 100%;
    color: #fff;
    outline: none;
}
form label{
    margin-left: 15px 0;
}
form input[type="submit"]{
    display: block;
    width: auto;
    margin: 10px auto;
    padding: 5px 10px;
    border: 3px solid #fff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.back .content h1:before{
    content: "";
    position: absolute;
    bottom: -30px;
    height: 3px;
    background-color: white;
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
}
ul{
    position: absolute;
    top:125%;
    left: 50%;
    transform:translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
  }
  ul li{
    list-style: none;
    color:  #792b83;
    font-family: arial;
    font-size: 5em;
    letter-spacing: 15px;
    animation: ani 2.4s linear infinite;
  }
  @keyframes ani {
    0%{
      color: #792b83;
      text-shadow: none;
    }
    90%{
      color: #792b83;
      text-shadow: none;
    }
    100%{
      color: #fff900;
      text-shadow: 0 0 7px #fff900,0 0 50px #ff6c00;
    }
  }
  ul li:nth-child(1){
    animation-delay: .2s;
  }
  ul li:nth-child(2){
    animation-delay: .4s;
  }
  ul li:nth-child(3){
    animation-delay: .8s;
  }
  ul li:nth-child(4){
    animation-delay: 1s;
  }
  ul li:nth-child(5){
    animation-delay: 1.2s;
  }
  ul li:nth-child(6){
    animation-delay: 1.4s;
  }
  ul li:nth-child(7){
    animation-delay: 1.6s;
  }
  ul li:nth-child(8){
    animation-delay: 1.8s;
  }
  ul li:nth-child(9){
    animation-delay: 2s;
  }
  ul li:nth-child(10){
    animation-delay: 2.2s;
  }
  ul li:nth-child(11){
    animation-delay: 2.4s;
  }