
<head>
		<title> CollegeGuide| sign up </title>
		
		<!-- Including bootstrap v3.3.7 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		
		<!-- Including Custom css -->
		<link rel="stylesheet" type="text/css" href="/public/style.css">
		<link rel="stylesheet" type="text/css" href="/public/style1.css">
		
	</head>

<body>
        <ul>
                <li>C</li>
                <li>O</li>
                <li>L</li>
                <li>L</li> 
                <li>E</li>
                <li>G</li>
                <li>E</li>
                <li>G</li>
                <li>U</li>
                <li>I</li>
                <li>D</li>
                <li>E</li>
                    </ul>

    <br>
    <br>
<div> <%= result.name %> </div>
<div> <%= result.course %> </div>
<div> <%= result.country %> </div>
<div> <%= result.subject %> </div>
</body>